@import '../../assets/css/colors.css';
@import '../../assets/css/fonts.css';

.title {
  color: var(--color-shark);
  font-family: var(--font-default);
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  text-overflow: ellipsis;
}

.sourceCodePro {
  font-family: var(--font-source-code);
}

.codGray {
  color: var(--color-cod-gray);
}

.scorpion {
  color: rgba(87, 87, 87, 0.87)
}

.bold {
  font-weight: 600;
}

.white {
  color: var(--color-white)
}

.xsmall {
  font-size: 0.9em;
}

.small {
  font-size: 0.9em;
}

.medium {
  font-size: 1em;
}


.big {
  font-size: 1.1em;
}

.large {
  font-size: 1.2em;
}
