:root {
  --color-chestnut-rose: #D26161;
  --color-cod-gray: #1E1E1E;
  --color-danube: #61A3D2;
  --color-invisible: transparent;
  --color-shark: #202328;
  --color-scorpion: #575757;
  --color-wild-sand: #f4f4f4;
  --color-white: #ffffff;
}