@import '../../../assets/css/colors.css';

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageWrapper {
  border-radius: 5px;
  height: 74px;
  margin-right: 10px;
  overflow: hidden;
  width: 74px;
  min-width: 74px;
}

.price {
  display: flex;
  align-items: center;
}

.quantity {
  display: flex;
  align-items: center;
}
